.single-blog {
    &_hero {
        position: relative;
        z-index: 1;
        padding: 60px 0 40px;
        min-height: 300px;
        background: $hero_gradient;
        color: $white;

        @include tablet {
        padding: 40px 0;
        flex-direction: column;
        padding: 40px 0;
        min-height: 450px;
        display: flex;
        justify-content: center;
        }
        .top-liner {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: $yellow_gradient;
        }


        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include desktop {
                flex-direction: row;
            }
        }
        .content {
            width: 100%;
            @include desktop {
                    flex: 0 0 52%;
                    width: auto
            }

            .cat-tags {
                margin-bottom: 10px;
                a.cat-tag {
                    border: 1px solid rgba(#ffffff, .6);
                    color: white!important;
                    &:hover {
                        background: #eef7ff2b;
                        color: white!important;
                    }

                    &:focus,
                    &:visited {
                        color: white!important;
                    }
                }
            }
            h1 {
                font-size: 35px;
                line-height: 42px;
                -webkit-font-smoothing: antialiased;
                color: $white;
                text-decoration: none;

            }
            .author-info {
                margin-top: 15px;
                .date {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 13px;
                    &:after {
                        content:"•";
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .author {
                    white-space: nowrap;
                    font-size: 16px;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }

        .image {
            display: flex;
            margin-top: 20px;
            margin-bottom: -110px;
            width: 100%;
            position: relative;
            max-width: 675px;
            max-height: 525px;
            overflow: hidden;
            @include desktop {
                margin-top: 40px;
                margin-left: 40px;
                margin-bottom: -100px;
            }

            img {
                margin: auto;
                width: 100%;
                transform: scale(1);
                transition: all 1s ease-in-out;
            }

            .caption {
                position: absolute;
                font-style: italic;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                right: 0;
                bottom: -40px;
                color: $neutral;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
        }
    }

    &_main-content {
        max-width: 900px;
        margin: 100px auto 50px auto;

        @include tablet {
            margin: 130px auto 80px auto;
        }
        .addtoany_content {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
    }
    &_subscribe {
        margin: 0;
        background: $yellow_gradient;

        @include tablet {
            margin: 20px;
        }

        .container {

            padding: 100px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            @include tablet {
                padding: 100px 80px;
            }
            @include desktop {
                flex-direction: row;
                text-align: left;
            }

            .subscribe-copy {

                margin-bottom: 30px;
                @include tablet {
                    flex: 0 0 53%;
                    margin-right: 30px;
                }

                h2 {
                    font-family: $minionPro;
                    font-size: 40px;
                    color: $white;
                    @include desktop-wide {
                        font-size: 50px;
                    }
                }
                p {
                    color: $white;
                    font-weight: 700;
                    margin-bottom: 0px;
                }
            }

        }
    }

    &_related-blogs {
        margin: 60px 0 100px;
        .header-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;

            @include tablet {
                flex-direction: row;
                align-items: baseline;
                margin-bottom: 20px;
            }

            h2 {
                color: $headers;
                margin-bottom: 20px;
                @include tablet {
                    margin-bottom: 0;
                }
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                text-decoration: none;
                background-color: $bjc_blue;
                border: 1px solid $bjc_blue;
                border-radius: 20px;
                font-weight: 700;
                padding: 7px 20px 8px;
                transition: all .3s ease-in-out;
                -webkit-font-smoothing: antialiased;

                @include tablet {
                    display: inline;
                    margin: 0;
                }

                &:hover {
                    background-color: $white;
                    color: $footer_callout_blue;
                }
            }
        }
        .blog-list {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-direction: column;


            @include tablet {
                flex-direction: row;
            }

            @include desktop {
                flex-wrap: nowrap;
            }
            .card {
                width: 100%;
                margin-bottom: 20px;


                &:not(:last-child) {
                    margin-right: 0;
                }

                @include tablet {
                    width: calc(50% - 10px);
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }

                @include desktop {
                    width: calc(33.33% - 10px);
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }

                a {
                    display: block;
                    overflow: hidden;
                }
                img{
                    width: 100%;
                    max-height: 278px;
                    object-fit: cover;
                    transition: transform .7s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                a.title-link {
                    text-decoration: none;
                    h3 {
                        margin-top: 20px;
                        font-size: 25px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}
