.flex_featured-events {
    .main-content {
        padding: 40px 0;
    }
    h2 {
        color:$headers;
    }
    .featured-events {
        margin-top: 40px;
        &_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 45px;
            .event-detail {
                &_date {
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    color: $headers;
                    font-weight: 600;
                    font-size: 13px;
                }
                a {
                    text-decoration: none;
                    h3 {
                        font-size: 25px;
                    }
                }
                &_time-location {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    i {
                        font-size: 18px;
                        margin-right: 11px;
                        padding-top: 1px;
                        background-image: $yellow_gradient;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .location {
                        margin-right: 0;
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
}

/* Mobile Style */
@include tablet {
    .flex_featured-events {
        .featured-events_item {
            flex-direction: row;
            flex-wrap: wrap;
            .event-detail_time-location {
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 35px;
                .location {
                    margin-right: 43px;
                    margin-bottom: 0;
                }
            }
        }
    }
}