.content-cards div:first-of-type {
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-column-gap: 25px;
    height: 200px;
    grid-row-gap: 70px;
}

.content-cards div:first-of-type div{
    display: block;
}

.content-cards_item{
    text-align: center;
    padding-top: 50px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 16%);
    background-color: white;
}

.content-cards .main-text h3{
    font-size: 27px;
}

.content-cards div div:nth-child(4){
    width: 150%;
}

.content-cards div div:nth-child(5){
    margin-left: 200px;
    width: 150%;
}

.content-cards .main-text p{
    color: rgba(138, 136, 137, 0.8);
}

.content-cards_item .image-with-content i{
    font-size: 56px;
    color: orange;
}

.content-child-card{
    margin-left: 30px;
}