.site-newheader .headercontainer {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px 20px 10px;
  max-height: 110px;
}

.alert-bar{
  text-align: center;
  color: white;
  font-size: 14px;
}

#block-headeralertbar{
  background-color: #E93A22;
  padding: 10px 0;
  text-align: center;
}
#block-headeralertbar .content div div a{
  color: white;
  font-size: 16px;
  padding: 5px 0;
}

#block-firstheadermenu ul {
  display: flex;
  justify-content: center;
}


#block-firstheaderextramenu ul{
  display: flex;
  justify-content: right;

  /* margin-top: -57px; */
  /* margin-right: 70px;
  margin-bottom: 20px; */
}

.site-newheader .search{
  display: flex;
  justify-content: right;
  /* margin-top: -60px;
  margin-bottom: 20px; */
}
.site-newheader .headercontainer ul li {
  list-style: none;
  font-weight: 600;
  font-size: 18px;    
}

.site-newheader .headercontainer .utility-bar ul li {
  margin-right: 20px;
  margin-left: 15px;
  position: relative
}

.site-newheader .utility-bar nav > ul > li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.site-newheader .utility-bar li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  right: 100%;
  background: linear-gradient(266.5deg, #70AFD7 -38.35%, #00529B 56.17%, #00315D 134.62%);
  height: 2px;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.site-newheader .utility-bar nav > ul > li::before {
  bottom: 13px;
}

.utility-bar nav > ul > li:first-child {
  padding-right: 20px;
  margin-left: 15px;
  margin-right: 0!important;
}

.utility-bar nav > ul > li:not(:first-child) {
  margin-left: 0px !important;
  margin-right: 25px !important;
}

.utility-bar nav > ul > li:first-child::before {
max-width: calc(100% - 35px);
}
.utility-bar nav > ul > li:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  top: 2px;
  background-color: #8A8889;
  margin-left: 20px;
  position: relative;
}

.site-newheader .utility-bar ul > li:hover:before {
  right: 0;
}

.site-newheader .utility-bar ul > li:hover {
  color: #00315D;
}

.site-newheader .headercontainer .utility-bar ul li a {
  color: #00529B;
  font-style: italic;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.utility-bar nav > ul > li:not(:first-child) > ul {
  display: none !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 30%);
  border-top: 3px solid #FFC50A;
  padding: 17px;
  width: 235px;
  position: absolute;
  top: 35px;
  left: -17px;
  z-index: 22;
}

.utility-bar nav > ul > li:hover > ul {
  display: block !important;
}

.utility-bar nav > ul > li > ul > li::before {
  content: none !important;  
}

.utility-bar nav > ul > li > ul > li > a {
  font-style: normal !important;  
  position: relative;
}

.utility-bar nav > ul > li > ul > li > a:hover:before {
  right: 0;
}

.utility-bar nav > ul > li > ul > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  right: 100%;
  background: linear-gradient(266.5deg, #70AFD7 -38.35%, #00529B 56.17%, #00315D 134.62%);
  height: 2px;
  transition-property: right;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.main-navigation > div {
  display: flex;
}

.site-newheader .we-mega-menu-li.dropdown-menu {
  position: unset;
}

/* .site-newheader .we-mega-menu-li.dropdown-menu > .site-newheader .we-mega-menu-submenu {
  left: -20px;
  width: 100vw !important;  
} */


.site-newheader .we-mega-menu-submenu {
  width: 1000px !important;
  left: -200px;  
} 

#block-secondheaderextramenus .headerbtnsubsection{
  margin: 10px 7px;
}

#block-secondheaderextramenus .headerrequest{
  margin-top: 30px;
  background: transparent;
  border: 1px solid #00529B;
  padding: 7px;
  font-weight: 600;
  border-radius: 500px;
  color: #00529B;
}

#block-secondheaderextramenus .headerapply{
  text-align: center;
  background: #FFC50A;
  border: 1px solid #FFC50A;
  color: #4F2F00 !important;
  padding: 7px;
  font-weight: 600;
  border-radius: 500px;
}

.node__title span{
  display: none !important;
}

.feed-icon{
  display: none !important;
}


.node__content{
  display: none !important;
}

.node__meta{
  display: none !important;
}

.contextual-links{
  display: none !important;
}

@media (min-width: 992px){
nav[data-style="Blue"] .site-newheader .we-mega-menu-ul>.site-newheader .we-mega-menu-li>a.site-newheader .we-mega-menu-li, nav[data-style="Blue"] .site-newheader .we-mega-menu-ul>.site-newheader .we-mega-menu-li>.we-megamenu-nolink {
    color: #2a5caa;
    border-color: white;
    background-color: white;
}
}

@media (min-width: 992px){
body:not(.site-newheader .we-mega-menu-backend) nav[data-style="Blue"] .site-newheader .we-mega-menu-ul>.dropdown-menu:hover>a, body:not(.site-newheader .we-mega-menu-backend) nav[data-style="Blue"] .site-newheader .we-mega-menu-ul>.dropdown-menu:focus>a {
    background-color: white;
    color: #2a5caa;
}
}

@media (min-width: 1280px) {
  .site-newheader .headercontainer {
    max-height: 135px;
    padding: 12px 20px 0;
 }
}
.site-newheader .headercontainer .site-branding {
  max-width: 210px;
  width: 70%;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .site-newheader .headercontainer .site-branding {
    width: 100%;
 }
}
.site-newheader .headercontainer .site-branding a {
  display: block;
  transition: all 0.3s ease-in-out;
}
.site-newheader .headercontainer .site-branding a img {
  width: 100%;
  height: auto;
}
.site-newheader .headercontainer .site-branding a:hover {
  opacity: 0.5;
}
.site-newheader .headercontainer .navigation-container {
  width: 110px;
}
@media (min-width: 768px) {
  .site-newheader .headercontainer .navigation-container {
    width: calc(100% - 200px);
 }
}

