/** Site Footer **/
.site-footer {
    background: $footer_blue;
    color: $white;

    a {
      color: $white;
      text-decoration: none;
    }

    .action-bar {
        padding: 23px 0;
        background: $footer_callout_blue;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include desktop {
                flex-direction: row;
            }
        }

        &_logo {
            position: relative;

            .badge-logo {
                position: absolute;
                top: -96px;
                z-index: 30;
                left: 50%;
                transform: translate(-50%, 0);

                @include desktop {
                    top: -62px;
                    left: 0;
                    transform: none;
                }

                img {
                    transition: all 0.3s ease-in-out;
                }

                &:hover img {
                    transform: scale(1.05);
                }
            }

            .text-link {
                padding-left: 0;
                padding-top: 80px;
                text-align: center;

                @include desktop {
                    padding-left: 175px;
                    padding-top: 0;
                    text-align: left;
                }

                a {

                    padding-right: 0;
                    &:before{
                        background: $white;
                        opacity: .7;
                    }
                }
            }
        }

        &_buttons {
            margin: 35px 0 12px;
            display: flex;

            @include desktop {
                margin-top: 0;
            }
            a:first-of-type{
                @extend .button-more-info;
                margin-right:20px;
                background: transparent;
                border:1px solid $white;
                color:$white;
                &:after{
                    background:$white;
                }
                &:hover{
                    color:$bjc_blue;
                }
            }

        }
    }


    .site-info {
        padding-top: 40px;
        padding-bottom: 60px;
        border-bottom: 1px solid rgba($white, 0.2);

        @include desktop {
            padding-top: 75px;
            padding-bottom: 80px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;

            @include desktop-wide {
                flex-direction: row;
            }
        }

        .contact-info {
            flex-basis: 100%;
            margin: auto;

            @include desktop {
                margin-left: 20px;
            }

            @include desktop-wide {
                flex-basis: 31%;
                margin-left: 0;
            }

            &_social {
                margin-bottom: 25px;

                a {
                    font-size: 20px;
                    color: #fff;
                    border: 1px solid rgba($white, 0.4);
                    display: inline-block;
                    padding: 6px 11px;
                    width: 42px;
                    text-align: center;
                    height: 42px;
                    border-radius: 21px;
                    margin-right: 5px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        background: white;
                        color: $footer_blue;
                    }
                }
            }

            &_address {
                text-align: center;
                @include desktop {
                    text-align: left;
                }
                a:hover {
                    opacity: 0.6;
                }

                a.phone {
                    display: block;
                    padding-top: 20px;
                }
            }
        }

        .menu-footer-menu-container {
            flex-basis: 100%;
            margin: 0 0 50px;
            border-bottom: 1px solid rgba($white, 0.2);

            @include desktop {
                margin: 40px 20px 70px;
                border-bottom: none;
            }

            @include desktop-wide {
                flex-basis: 69%;
                margin: 0;
                border-bottom: none;
            }
        }

        #footer-menu {
            display: flex;
            flex-flow: row wrap;
            flex-direction: column;
            align-items: center;
            text-align: left;
            list-style-type: none;
            margin: 0;
            padding: 0;

            @include desktop {
                flex-direction: row;
                align-items: flex-start;
            }


            li {
                text-align: center;
                @include desktop {
                    text-align: left;
                }

            }

            >li.menu-item-has-children {
                margin-bottom: 40px;
                @include desktop {
                    margin-bottom: 0;
                }
                > a {
                    color:$white;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 36px;
                    -webkit-font-smoothing: antialiased;
                    @extend .link-arrow;
                    &:before{
                        background: $white;
                        opacity: .7;
                    }
                    &:after{
                        display: none;
                    }
                }
            }

            .sub-menu {
                list-style-type: none;
                margin: 5px 0 0;
                padding: 0;

                > li {

                    a {
                        color:$white;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 36px;
                        -webkit-font-smoothing: antialiased;
                        @extend .link-arrow;
                        &:before{
                            background: $white;
                            opacity: .7;
                        }
                        &:after{
                            display: none;
                        }
                    }
                }
            }

            >li.menu-item-has-children:first-child {
               flex-basis: 40%;
            }

            >li.menu-item-has-children:last-child {
                flex-basis: 60%;
                .sub-menu {
                    column-count: 1;

                    @include desktop {
                        column-count: 2;
                        column-gap: 80px;
                    }
                }
            }
        }
    }

    .footer-utility {
        padding: 30px 0;

        @include desktop {
            padding: 15px 0;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include desktop {
                flex-direction: row;
            }
        }

        &_logo-list {
            margin-bottom: 20px;
            @include desktop {
                margin-bottom: 0;
            }
            a {
                margin-right: 10px;

                img {
                    transition: all 0.3s ease-in-out;
                }

                &:hover img {
                    transform: scale(1.05);
                }
            }
        }

        &_copyright {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;

            @include desktop {
                flex-direction: row;
            }

            span {
                padding-right: 0;
                padding-bottom: 20px;
                text-align: center;
                &:after {
                    content: "";
                }

                @include desktop {
                    padding-right: 10px;
                    padding-bottom: 0;
                    text-align: left;
                    &:after {
                        content: "|";
                        padding-left: 10px;
                    }
                }
            }

            #footer-utility {
                display: flex;
                justify-content: center;
                list-style: none;
                margin: 0;
                padding: 0;

                @include desktop {
                    justify-content:flex-start;
                }

                li:first-child {
                    padding-right: 10px;
                    &:after {
                       content: "|";
                       padding-left: 10px;
                    }
                }

                li a {
                    text-decoration: underline;
                }

                li a:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}
