// .site-header {
//     background: white;
//     transition: all .4s ease-in-out;
//     position: fixed!important;
//     width: 100%;
//     top: 0;
//     z-index: 88888;
//     max-width: 100%;

//     &.on-scroll-up{
//       top: 0;
//       opacity: 1;
//       z-index: 999;
//     }

//     &.on-pin {
//       top: -100px;
//       opacity: 0;
//       z-index: -999;
//     }

//     .container {
//         display: flex;
//         flex-flow: row nowrap;
//         align-items: center;
//         justify-content: space-between;
//         padding: 12px 20px 10px;
//         max-height: 110px;

//         @include desktop-wide {
//             max-height: 135px;
//                 padding: 12px 20px 0;
//         }

//         .site-branding {
//             max-width: 210px;
//             width: 70%;
//             padding-right: 20px;

//             @include tablet {
//                 width: 100%;
//             }

//             a {
//                 display: block;
//                 transition: all .3s ease-in-out;

//                 img {
//                     width: 100%;
//                     height: auto;
//                 }

//                 &:hover {
//                     opacity: .5;
//                 }
//             }
//         }

//         .navigation-container {
//             width: 110px;

//             @include tablet {
//                 width: calc(100% - 200px);
//             }
//         }
//     }
// }

/* .navbar-we-mega-menu .nav-tabs {
    border-top: 1px solid #f5e3e3;
  } */
/* .site-newheader .main-navigation{
    background-color: aqua !important;
  } */
.site-newheader {
		background: white;
    transition: all .4s ease-in-out;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 10;
    max-width: 100%;
	&.on-scroll-up{
		top: 0;
		opacity: 1;
		z-index: 10;
		margin-top: 88px;
		position: fixed;
	}

	&.on-pin {
		top: -100px;
		opacity: 0;
		z-index: -999;
	}

	.headercontainer {
		display: flex;
		flex-flow: row nowrap;
		padding: 12px 20px 10px;
		max-height: 110px;
		ul {
			li {
				list-style: none;
				font-weight: 600;
				font-size: 18px;
				border-left-color: white !important;
			}
		}
		.utility-bar {
			ul {
				li {
					margin-right: 20px;
					margin-left: 15px;
					position: relative;
					a {
						color: #00529b;
						font-style: italic;
						text-decoration: none;
						font-size: 14px;
						font-weight: 400;
					}
				}
			}
		}
		.site-branding {
			max-width: 210px;
			width: 70%;
			padding-right: 20px;
			a {
				display: block;
				transition: all 0.3s ease-in-out;
				img {
					width: 100%;
					height: auto;
				}
				&:hover {
					opacity: 0.5;
				}
			}
		}
		.navigation-container {
			width: 110px;
		}
		.main-navigation {
			border-top: 1px solid #E7E7E7;
			float: right;
		}
	}
	// .search {
	// 	display: flex;
	// 	margin-top: -51px;
	// 	position: absolute;
	// 	right: 32px;
	// }
	// .utility-bar {
	// 	nav {
	// 		>ul {
	// 			>li {
	// 				padding-bottom: 10px;
	// 				margin-bottom: 10px;
	// 				&::before {
	// 					bottom: 13px;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	li {
	// 		&:before {
	// 			content: "";
	// 			position: absolute;
	// 			z-index: -1;
	// 			left: 0;
	// 			bottom: 0;
	// 			right: 100%;
	// 			background: linear-gradient(266.5deg, #70AFD7 -38.35%, #00529B 56.17%, #00315D 134.62%);
	// 			height: 2px;
	// 			transition-property: right;
	// 			transition-duration: 0.5s;
	// 			transition-timing-function: ease-out;
	// 		}
	// 	}
	// 	ul {
	// 		>li {
	// 			&:hover {
	// 				&:before {
	// 					right: 0;
	// 				}
	// 				color: #00315D;
	// 			}
	// 		}
	// 	}
	// }
	.we-mega-menu-li.dropdown-menu {
		position: unset;
	}
	.node__title {
		span {
			display: none !important;
		}
	}
	.feed-icon {
		display: none !important;
	}
	.node__content {
		display: none !important;
	}
	.node__meta {
		display: none !important;
	}
	.contextual-links {
		display: none !important;
	}
	.button-inverse {
		background: transparent;
		border: 1px solid #fff;
		border-radius: 500px;
		color: #fff;
		font-weight: 600;
		padding: 10px;
		font-weight: 600 !important;
		font-size: 14px;
		margin: 7px 0;
	}
	body {
		&:not(.we-mega-menu-backend) {
			nav[data-style="Blue"] {
				.we-mega-menu-ul {
					> .dropdown-menu {
						&:hover {
							> a {
								background-color: white !important;
								color: #2a5caa !important;
							}
						}
					}
				}
				background-color: white !important;
				color: #2a5caa !important;
			}
		}
	}
	nav[data-style="Blue"] {
		.we-mega-menu-ul {
			> .we-mega-menu-li {
				border-left: none !important;
				> a.we-mega-menu-li {
					color: #2a5caa !important;
					border-color: white !important;
					background-color: white !important;
					z-index: 5;
				}
				&:hover{
					> a.we-megamenu-nolink {
						color: $footer_blue !important;
					}
				}
			}
		}
	}
	.navcallout {
		background-color: #00315d !important;
	}
}
.alert-bar {
	text-align: center;
	color: white;
	font-size: 14px;
}
#block-headeralertbar {
	background-color: #e93a22;
	padding: 10px 0;
	text-align: center;
	.content {
		div {
			div {
				a {
					text-decoration: none;
					color: white;
					font-size: 15px;
					padding: 5px 0;
				}
			}
		}
	}
}
.nav-callout {
	background-color: #00315d;
	padding: 20px;
	h2 {
		font-size: 24px;
	}
	p {
		font-size: 15px;
	}
}
#block-firstheadermenu {
	ul {
		display: flex;
		justify-content: center;
	}
}
#block-firstheaderextramenu {
	ul {
		display: flex;
		justify-content: right;
		padding: 0;
		li {
			margin-left: 0;
			position: relative;
			a {
				color: $bjc_blue;
				position: relative;
				font-weight: 700;
				font-size: 14px;
				font-style: normal;
				text-decoration: none;
				-webkit-font-smoothing: antialiased;
				transform: perspective(1px) translateZ(0);
				&:before {
					content: "";
					position: absolute;
					z-index: -1;
					left: 0;
					right: 100%;
					bottom: -2px;
					background: $hero_gradient;
					height: 2px;
					transition-property: right;
					transition-duration: 0.5s;
					transition-timing-function: ease-out;
				}
				&:hover {
					&:before {
						right: 0;
					}
				}
			}
			&:first-child {
				&:after {
					content: none;
				}
			}
		}
	}
}
.utility-bar {
	nav {
		> ul {
			> li {
				&:first-child {
					padding-right: 20px;
					margin-left: 15px;
					margin-right: 0 !important;
					&::before {
						max-width: calc(100% - 35px);
					}
					&::after {
						content: "";
						display: inline-block;
						width: 1px;
						height: 16px;
						top: 2px;
						background-color: #8a8889;
						margin-left: 20px;
						position: relative;
					}
				}
				&:not(:first-child) {
					margin-left: 0px !important;
					margin-right: 25px !important;
					> ul {
						display: none !important;
						list-style-type: none;
						margin: 0;
						padding: 0;
						background: #ffffff;
						box-shadow: 0px 4px 15px rgb(0 0 0 / 30%);
						border-top: 3px solid #ffc50a;
						padding: 17px;
						width: 235px;
						position: absolute;
						top: 35px;
						left: -17px;
						z-index: 22;
					}
				}
				&:hover {
					> ul {
						display: block !important;
					}
				}
				> ul {
					> li {
						&::before {
							content: none !important;
						}
						> a {
							font-style: normal !important;
							position: relative;
							&:hover {
								&:before {
									right: 0;
								}
							}
							&:before {
								content: "";
								position: absolute;
								z-index: -1;
								left: 0;
								bottom: 0;
								right: 100%;
								background: linear-gradient(266.5deg, #70afd7 -38.35%, #00529b 56.17%, #00315d 134.62%);
								height: 2px;
								transition-property: right;
								transition-duration: 0.5s;
								transition-timing-function: ease-out;
							}
						}
					}
				}
			}
		}
	}
}
.main-navigation {
	> div {
		display: flex;
	}
}
#block-secondheaderextramenus {
	display: flex;
	align-items: center;
	height: 75px;
	.headerbtnsubsection {
		margin: 10px 7px;
	}
	.headerrequest {
		margin-top: 30px;
		background: transparent;
		border: 1px solid #00529b;
		padding: 7px;
		font-weight: 600;
		border-radius: 500px;
		color: #00529b;
	}
	.headerapply {
		text-align: center;
		background: #ffc50a;
		border: 1px solid #ffc50a;
		color: #4f2f00 !important;
		padding: 7px 20px;
		font-weight: 600;
		margin-left: 10px;
		border-radius: 500px;
	}
	.nav-btn {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		line-height: 1;
		margin-left: 10px;
		a {
			border-radius: 20px;
			font-weight: 700;
			padding: 7px 20px 8px !important;
			transition: all 0.3s ease-in-out;
			-webkit-font-smoothing: antialiased;
			-webkit-appearance: none !important;

			&:before {
				font: $fontAwesomeSolid;
				margin-right: 10px;
				font-size: 15px;
			}
		}
		&:first-child {
			a{
				@extend .button-more-info;	
			}
		}
		&:last-child {
			a{
				@extend .button-apply;
			}
		}
	}
}
body {
	&:not(.we-mega-menu-backend) {
		nav[data-style="Blue"] {
			.we-mega-menu-ul {
				> .dropdown-menu {
					&:focus {
						> a {
							background-color: white !important;
							color: #2a5caa !important;
						}
					}
				}
			}
		}
	}
}
nav[data-style="Blue"] {
	.we-mega-menu-ul {
		> .we-mega-menu-li {
			> .we-megamenu-nolink {
				color: #2a5caa !important;
				border-color: white !important;
				background-color: white !important;
				z-index: 5;
				font-size: 16px;
				font-weight: bold;
				text-transform: capitalize;
				padding: 25px 12px;
				&:before, &:after{
					content: none !important;
				}
			}
			&:first-child {
				.we-megamenu-nolink {
					padding-left: 0;
				}
			}
		}
	}
}
.contextual-region {
	position: unset;
}
.navbar {
	position: unset;
}
.we-mega-menu-submenu {
	width: auto !important;
	position: absolute;
	top: 175px;
	z-index: inherit;
}
@media (min-width: 992px) {
	.site-newheader {
		nav[data-style="Blue"] {
			.site-newheader {
				.we-mega-menu-ul {
					> .site-newheader {
						.we-mega-menu-li {
							> a.site-newheader {
								.we-mega-menu-li {
									color: #2a5caa;
									border-color: white;
									background-color: white;
								}
							}
						}
					}
				}
			}
		}
		body {
			&:not(.we-mega-menu-backend) {
				nav[data-style="Blue"] {
					.we-mega-menu-ul {
						> .dropdown-menu {
							&:hover {
								> a {
									background-color: #2a5caa !important;
									color: white !important;
								}
							}
						}
					}
				}
			}
		}
	}
	nav[data-style="Blue"] {
		.site-newheader {
			.we-mega-menu-ul {
				> .site-newheader {
					.we-mega-menu-li {
						> .we-megamenu-nolink {
							color: #2a5caa;
							border-color: white;
							background-color: white;
						}
					}
				}
			}
		}
	}
	body {
		&:not(.we-mega-menu-backend) {
			nav[data-style="Blue"] {
				.we-mega-menu-ul {
					> .dropdown-menu {
						&:focus {
							> a {
								background-color: #2a5caa !important;
								color: white !important;
							}
						}
					}
				}
			}
		}
	}
	.we-mega-menu-ul {
		position: unset;
	}
	.region-we-mega-menu{
		.second-header-menu {
			.we-mega-menu-ul{
				.we-mega-menu-li{
					.we-mega-menu-submenu{
						background-color: $footer_callout_blue;
						visibility: unset !important;
						opacity: unset !important;
						display: none;
						margin: 0;
						padding: 0;
						.we-mega-menu-row, .we-mega-menu-col{
							margin: 0;
							.type-of-block{
								height: 100%;
								.nav-callout{
									padding: 40px;
									h2{
										text-transform: none !important;
									}
								}
								.block-inner{
									height: 100%;
								}
								#block-aboutblock, #block-academicsblock, #block-researchblock, #block-studentexperienceblock, #block-admissionsfinancialaidblock{
									background-color: $footer_blue;
									height: 100%;
								}
									h2{
										font-size: 40px;
										font-weight: 700;
										line-height: 48px;
									}
									p{
										font-size: 15px;
										font-weight: 400;
										line-height: 22.5px;
										color: #fff;
									}
								// }
							}
						}
						.we-mega-menu-col{
							&.bjc-menu-col-1, &.bjc-menu-col-2{
								padding: 40px;
								padding-left: 80px;
								a {
									color: $white;
									cursor: pointer;
									text-decoration: none;
									position: relative;
									font-weight: 600;
									font-size: 16px;
									line-height: 22px;
									-webkit-font-smoothing: antialiased;
									transform: perspective(1px) translateZ(0);
									width: fit-content;
									border-bottom: none;
									&:before{
										content: "";
											position: absolute;
											z-index: -1;
											left: 0;
											right: 100%;
											bottom: 3px;
											background:rgba($white, .2);
											height: 3px;
											transition-property: right;
											transition-duration: 0.5s;
											transition-timing-function: ease-out;
											transform: rotate(0deg) !important;
									}
									&:hover {
										&:before{
											right: 0;
										}
									}
								}
								.bjc-menu-parent-1, .bjc-menu-parent-2{
									> a.we-mega-menu-li{
										font-size: 22px;
										font-weight: 700;
										color: $white;
										cursor: pointer;
										text-decoration: none;
										position: relative;
										-webkit-font-smoothing: antialiased;
										transform: perspective(1px) translateZ(0);
										width: fit-content;
										border-bottom: none;
										&:after{
											position: relative !important;
											content: "\f178" !important;
											font: var(--fa-font-light) !important;
											margin-left: 10px !important;
											background-image: none !important;
											transform: rotate(0deg) !important;
											padding-right: 30px;
										}
										&:before{
											content: "";
												position: absolute;
												z-index: -1;
												left: 0;
												right: 100%;
												bottom: -3px;
												background:rgba($white, .2);
												height: 3px;
												transition-property: right;
												transition-duration: 0.5s;
												transition-timing-function: ease-out;
												transform: rotate(0deg) !important;
												opacity: 1;
												top: 35px;
												width: auto;
										}
										&:hover {
											&:before{
												right: 0;
											}
										}
									}
									.we-mega-menu-submenu{
										margin-top: 20px !important;
									}
								}
							}
							&.bjc-menu-col-2{
								padding-left: 40px;
							}
						}
					}
					&:hover{
						.we-mega-menu-submenu{
							display: block;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1280px) {
	.site-newheader {
		.headercontainer {
			max-height: 135px;
			padding: 12px 20px 0;
		}
	}
}
@media (min-width: 768px) {
	.site-newheader {
		.headercontainer {
			.site-branding {
				width: 100%;
			}
			.navigation-container {
				width: calc(100% - 200px);
			}
		}
	}
}
.block-local-tasks-block{
	background: #00529b;
  .content{
    ul{
      display: flex;
      flex-direction: row;
      gap: 25px;
      list-style: none;      
      align-items: center;
      li{
        margin-bottom: 0;
        a{ 
					color: #ffffff;
					text-decoration: none;
					&:hover{
						color: #00315D;
					}
        }
      }
    }
  }
}