.blog-list {
    &_hero {
        position: relative;
        z-index: 1;
        padding: 40px 0;
        min-height: 300px;
        background: $hero_gradient;
        color: $white;

        .top-liner {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: $yellow_gradient;
        }
        h1 {
            margin-bottom: 40px;

            @include tablet {
                margin-bottom: 50px;
            }

            @include desktop {
                margin-bottom: 90px;
            }
        }
        .featured-blog {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include desktop {
                flex-direction: row;
            }
            &_main {
                flex: 0 0 52%;

                @include desktop {
                    padding-right: 40px;
                    margin-bottom: 80px;
                }
                .cat-tags {
                    margin-bottom: 10px;
                    a.cat-tag {
                        border: 1px solid rgba(#ffffff, .6);
                        color: white!important;
                        &:hover {
                            background: #eef7ff2b;
                            color: white!important;
                        }

                        &:focus,
                        &:visited {
                            color: white!important;
                        }
                    }
                }
                .title {
                    color: $white;
                    text-decoration: none;

                    h2 {
                        font-size: 35px;
                        line-height: 42px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        h2 {
                            opacity: 0.8;
                        }
                    }
                }
                .author-info {
                    margin-top: 15px;
                    .date {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 13px;
                        font-weight: 600;
                        &:after {
                            content:"•";
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                    .author {
                        white-space: nowrap;
                        font-size: 16px;
                    }
                }
            }
            &_thumbnail {
                margin-top:20px;
                margin-bottom: -15px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                max-width: 675px;
                max-height: 525px;
                overflow: hidden;

                @include tablet {
                    margin-top: 50px;
                }

                @include desktop {
                    margin-top: -100px;
                    margin-bottom: -100px;
                }

                a {
                    img {
                        width: 100%;
                        display: block;
                        transform: scale(1);
                        transition: all 1s ease-in-out;
                        //max-height: 275px;
                    }
                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }


            }
        }
    }
    &_search-form {
        //margin-top: 100px;
        @include desktop {
            margin-top: 70px;
        }

        > .container {
            padding: 0;
            @include desktop {
                padding: 0 20px;
            }
        }

        ul {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            flex-direction: column;
            @include desktop {
                flex-direction: row;
            }
            // li:nth-child(2):after {
            //     font: $fontAwesomeRegular;
            //     content: '\f107';
            //     color: $bjc_blue;
            //     font-size: 15px;
            //     position: absolute;
            //     z-index: 1;
            //     top: 30px;
            //     right: 14px;
            // }
        }
    }
    &_main {
        padding-bottom: 60px;
        @include tablet {
            padding-bottom: 100px;
        }

        .reset-filter {
            .container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;

                @include tablet {
                    flex-direction: row;
                    align-items: center;
                }
            }
            // p {
            //     font-size: 13px;
            //     text-transform: uppercase;
            //     margin: 0 0 12px 0;
            //     opacity: .8;
            //     letter-spacing: 0.08em;
            //
            //
            //     @include tablet {
            //         margin: 0;
            //     }
            // }
            .reset-blog-filter {
                color: $neutral;
                opacity: .8;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 600;
                font-size: 13px;
                letter-spacing: .5px;
                &:hover {
                    opacity: 1;
                }
            }
        }

        .blog-item {

            .container {
                display: flex;
                flex-direction: column;
                padding: 20px;
                max-width: 1130px;
                margin-top: 20px;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
                transition: box-shadow 500ms;
                @include tablet {
                    flex-direction: row;

                }
                @include desktop-wide {
                    flex-direction: row;
                }
                &:hover{
                    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.16);
                }

            }
            .main-content {
                margin-right: 0;

                @include tablet {
                    width: calc(100% - 305px);
                    margin-right: 50px;
                }
                .cat-tags {
                    margin-bottom: 10px;
                }
                .post-title {
                    color: $bjc_blue;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $footer_blue;
                        text-decoration: underline;
                    }
                }
                .author-info {

                    span {
                        color: $headers;
                        font-weight: 600;
                        white-space: nowrap;
                    }
                    .date {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 13px;
                        font-weight: 700;
                        -webkit-font-smoothing: antialiased;
                        &:after {
                            content:"•";
                            color: $neutral;
                            margin-left: 8px;
                            margin-right: 5px;
                        }
                    }
                    .author {
                        font-size: 15px;
                    }
                }
                .excerpt {
                    line-height: 26px;

                    p {
                        margin-bottom: 0px;
                    }

                    .addtoany_share_save_container {
                        display: none;
                    }
                }
            }
            .image {
                min-width: 100%;
                margin-top: 20px;
                width: 100%;
                overflow: hidden;
                max-height: 250px;
                a {
                    display: block;
                    height: 100%;
                }
                img {
                    min-width: 100%;
                    min-height: 100%;
                    display: block;
                    top:50%;
					transform: scale(1) translateY(-50%);
					transition: all 1s ease-in-out;
                    position: relative;

                }

                a {
                    &:hover {
                        img {
                            transform: scale(1.05) translateY(-50%);
                        }
                    }
                }
                @include mobile {

                    min-width: 310px;
                }
                @include tablet {
                        margin-top: 0px;
                    width: 305px;
                }
            }
        }
        .blog-pagination {
            margin-top: 30px;
            @include tablet {
                margin-top: 0;
            }
            .container {
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .page-numbers {
                    border: 1px solid rgba(0, 82, 155, 0.15);
                    padding: 6px 0;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: 15px;
                    line-height: 20px;
                    transition: all 0.3s ease-in-out;
                    height: 35px;
                    width: 35px;
                    margin: 0 4px;
                    text-align: center;

                    &.current {
                        background: $bjc_blue;
                        border-color: $bjc_blue;
                        color: $white;
                    }

                    &.dots {
                        border: none;
                        padding: 6px 0;
                    }

                    &.prev {
                        padding: 5.5px 12.25px 7.5px 12.25px;
                        color: $bjc_blue;
                        height: 35px;
                        width: 35px;
                        margin-right: 14px;
                    }

                    &.next {
                        padding: 6.5px 11.5px 7.5px 12.5px;
                        color: $bjc_blue;
                        height: 35px;
                        width: 35px;
                        margin-left: 14px;
                    }
                }
                a.page-numbers {
                    &:hover {
                        background: $bjc_blue;
                        border-color: $bjc_blue;
                        color: $white;
                    }
                }
            }
        }
    }
    &_subscribe {
        margin: 0;
        background: $yellow_gradient;

        @include tablet {
            margin: 20px;
        }

        .container {

            padding: 80px 20px 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            @include tablet {
                padding: 80px 80px;
            }
            @include desktop {
                flex-direction: row;
                text-align: left;
            }

            .subscribe-copy {

                margin-bottom: 30px;
                @include tablet {
                    flex: 0 0 53%;
                    margin-right: 30px;
                }

                h2 {
                    font-family: $minionPro;
                    font-size: 40px;
                    color: $white;
                    @include desktop-wide {
                        font-size: 50px;
                    }
                }
                p {
                    color: $white;
                    font-weight: 700;
                    margin-bottom: 0px;
                }
            }


        }
    }
}

.subscribe-form {
    width: 100%;
    max-width: 450px;
    form {
        display: flex;
        align-items: center;

        label {
            position: absolute;
            text-indent: -99999px;
            left: -99999px;
        }

        .gform_body input {
            border: 1px solid rgba(138, 136, 137, 0.25);
            border-right: none;
            width:100%;
            height: 50px;
            border-radius: 50px 3px 3px 50px;
        }
        .validation_message {
            position: absolute;
            text-align: left;
        }

        .gform_body {
            width: calc(100% - 100px);

            .gfield {
                position: relative;
            }
        }
        .gform_footer {
            padding: 0;
            margin: 0!important;
            width: 100px;
            input[type="submit"] {
                height: 49px;
                margin-top: -1px;
                border-left: none;
                background: $bjc_blue;
                color: $white!important;
                border-radius: 0 50px 50px 0;
                border: none;
                width: 100px;
                &:hover {
                    background: $footer_callout_blue;
                }
            }

        }
    }
}
