.page-template-page-resource-list {
    .inner-hero {
        padding-bottom: 20px;
        @include tablet {
            padding-bottom: 20px;
        }
    }
}

.resource-quick-links {
    display: flex;
    justify-content: space-between;
    margin: 30px -20px 0;
    position: relative;
    z-index: 10;
    column-gap: 10px;
    column-width: auto;
    width: calc(100% + 40px);
    overflow: scroll;

    @include desktop {
        margin: 50px auto -130px;
        width: 100%;
        column-gap: 20px;
        overflow: visible;
    }

    a.quick-link-card {
        background: $white;
        border-radius: 10px;
        flex: 1;
        text-decoration: none;
        padding: 25px 15px 15px;
        text-align: center;
        min-width: 130px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow 500ms;
        &:first-child {
            margin-left: 20px;
        }

        &:last-child {
            margin-right: 20px;
        }

        @include desktop {
            padding: 30px;
            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                margin-right: 0px;
            }
        }

        .icon-wrap {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            background:$yellow_gradient;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 15px;
            transition: all 500ms ease-in-out;
            i {
                font-size: 28px;
                color: white;
            }

            @include desktop {
                height: 75px;
                width: 75px;
                border-radius: 40px;
                    margin: 0 auto 20px;
                i {
                    font-size: 35px;
                    color: white;
                }
            }
        }

        h2 {
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            font-family: $font__main;
            color: $body;
            margin: 0;
        }
        &:hover {
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.16);
            .icon-wrap{
                background: linear-gradient(214deg, #FFC50A -19.47%, #D56F1B 127.72%);
               transition: all 500ms ease-in-out;
            }
        }
    }
}

.resource-list {
    &_filters {
        margin-top: 0px;

        .container {
            padding: 0;
            @include desktop {
                padding: 0 20px;
            }

        }

        @include desktop {
            margin-top: 100px;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            @include desktop {
                flex-direction: row;
            }
        }
    }
    &_main {
        padding-bottom: 100px;
        @include desktop {
            padding-bottom: 100px;
        }


        .resource-list_table {

            padding: 0;
            @include desktop {
                margin-top: 20px;
                padding: 0 20px;
            }
            .table-header {
                background-color: $table_header;
                display: none;
                justify-content: space-between;
                padding: 20px;
                color: $headers;
                font-weight: 600;

                @include desktop {
                    display: flex;
                }

                .header_col-1 {
                    flex-basis: 80%;
                    display: none;
                    @include desktop {
                        display: flex;
                        flex-basis: 30%;
                    }
                }
                .header_col-2 {
                    flex-basis: 0%;
                    @include desktop {
                        flex-basis: 50%;
                    }
                }
                .header_col-3 {}
            }

            .resource-list_item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 20px;

                .item_col-1 {
                    flex-basis: 80%;
                    @include desktop {
                        flex-basis: 30%;
                    }
                }
                .item_col-2 {
                    flex-basis: 0%;
                    display: none;
                    @include desktop {
                        display: flex;
                        flex-basis: 50%;
                    }
                }
                .item_col-3 {
                    width: 40px;
                }

                .resource-title {
                    text-decoration: none;
                    color: $headers;
                    h2 {
                        font-size: 16px;
                        font-weight: 600;
                        font-family: $font__main;
                        line-height: 1.25;
                    }
                }

                h2 {
                    color: $headers;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: $font__main;
                    line-height: 1.25;
                }


                .cat-tags{
                    margin-top: 18px;
                }

                p {
                    font-size: 14px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .icon-wrap {
                    width: 37px;
                    height: 37px;
                    border-radius: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba($bjc_blue, .2);
                    border: 1px solid rgba($bjc_blue, .2);
                    text-decoration: none;
                    transition: all 500ms ease-in-out;
                    color: $white;
                    i {
                        margin-top: 3px;
                    }
                    &:hover{
                        background:$bjc_blue;
                        color:$white;
                        transform: scale(1.3);
                        .fa-arrow-down-to-line{
                            animation-name: bounce;
                            animation-duration: 1.5s;
                            animation-timing-function: ease-out;
                            animation-delay: 0;
                            animation-direction: alternate;
                            animation-iteration-count: infinite;
                            animation-fill-mode: none;
                            animation-play-state: running;
                        }
                        .fa-link{
                            animation-name: stretch;
                            animation-duration: 1.5s;
                            animation-timing-function: ease-out;
                            animation-delay: 0;
                            animation-direction: alternate;
                            animation-iteration-count: infinite;
                            animation-fill-mode: none;
                            animation-play-state: running;
                        }
                    }

                    @include desktop {
                        border: 1px solid $bjc_blue;
                        background: transparent;
                        color: $bjc_blue;
                    }
                    @keyframes stretch {
                      0% {
                        transform: scale(1);
                      }
                      50% {
                        transform: scale(.6);
                      }
                      100% {
                        transform: scale(1);
                      }
                    }
                    @keyframes bounce {
                        0%,
                        25%,
                        50%,
                        75%,
                        0% {
                            transform: translateY(0px);
                        }
                        50% {
                            transform: translateY(10px);
                        }
                        100% {
                            transform: translateY(0px);
                        }
                    }
                }

                &:nth-child(odd) {
                    background-color: rgba(238, 247, 255, 0.6);
                }
            }
        }
    }
}
