.full-width-content{
    &.timeline{
        background: $background_stripe;
        padding-top:50px;
        padding-bottom: 20px;
        @include tablet {
            padding-top:100px;
            padding-bottom: 100px;
        }
        h2{
            text-align: center;
            padding-bottom: 30px;
            @include tablet {
                padding-bottom: 60px;
            }
        }
        .tabs{
            padding: 0 20px;
            @include tablet {
            padding: 0 50px;
            }
            .tab-nav{
                position: relative;
                .tab{
                    margin:0 20px;
                    @include tablet {
                        margin:0 80px;
                    }
                    p{
                        padding:5px 15px;
                        margin:auto 20px;
                        text-align: center;
                        cursor: pointer;
                        max-height: 35px;
                        &.slick-current{
                            color:$white;
                            background-color: $bjc_blue;
                            border-radius: 30px;
                        }
                    }
                }
                .prev-arrow-timeline,
                .next-arrow-timeline{
                    color:$bjc_blue;
                    display: block;
                    position: absolute;
                    top:20%;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
                .prev-arrow-timeline{
                    left:0;
                }
                .next-arrow-timeline{
                    right:0;
                }
            }
            .tab-content-wrap{
                margin:50px auto 0;
                max-width: 100%;
                @include tablet {
                    margin:130px auto 0;
                    max-width: 85%;
                }
                .tab-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    //align-items: center;

                    div{
                        flex: 1 0 48%;
                        margin-bottom: 20px;
                        &.images{

                            @include tablet {
                                padding-right: 40px;
                                margin-bottom: 0px;

                            }
                            img {
                                text-align: center;
                                margin: 0 auto;
                                max-width: 100%;
                                @include tablet {
                                    max-width: 450px;
                                }
                            }
                            p{
                                font-size: 14px;
                                font-style: italic;
                                text-align: center
                            }
                        }

                        &.item-content {
                            max-width: 600px;

                        }

                        a {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    @include tablet{
                        flex-direction: row;
                    }

                }
            }
        }
    }
}
