//Filter styles
.filter-container {
    padding: 10px 20px;
    box-shadow: 0px 1px 7px 0px #0000002E;
    display: none;
    @include desktop {
        background: none;
        display: block!important;
        box-shadow: none;
        padding: 0;
    }
}


.filter-title {
    padding: 13px 16px 12px 30px;
    background-color: $background_stripe;
    color: $bjc_blue;
    opacity: 1;
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    width: 100%;
    display: block;
    border-bottom: 1px solid $table_header;
    margin-bottom: 0px;


    &:hover {
        background-color: #E1EEFC;
        cursor: pointer;
    }

    &:before {
        font: $fontAwesomeSolid;
        content: '\f1de';
        font-size: 15px;
        position: relative;
        z-index: 1;
        top: 0px;
        left: -10px;
    }

    &:after {
        font: $fontAwesomeSolid;
        content: '\f078';
        color: $bjc_blue;
        position: absolute;
        right: 20px;
        top: 18px;
        transition: all 0.5s ease-in-out;
    }

    &.active {
        background: #E1EEFC;
        &:after {
            transform: scaleY(-1);
        }
        @include desktop {
            background: none;
        }
    }


    @include desktop {
        text-transform: uppercase;
        color: $neutral;
        opacity: .8;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 400;
        background: none;
        padding: 0;
        border: none;

        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        &:hover {
            background-color: white;
            cursor: default;
        }
    }
}
.searchandfilter {
    ul li {
        position: relative;
        padding: 0;
        margin: 10px 0;
        //width: 100%;
        flex: 1;

        &:not(:last-child) {
            margin-right: 0;
        }

        @include tablet {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }

        &.sf-field-search:after {
            font: $fontAwesomeRegular;
            content: '\f002';
            color: $bjc_blue;
            font-size: 15px;
            position: absolute;
            z-index: 1;
            top: 20px;
            right: 14px;
        }

        &.sf-field-category:after,
        &.sf-field-taxonomy-resource-category:after,
        &.sf-field-taxonomy-department-category:after,
        &.sf-field-taxonomy-user-type:after,
        &.sf-field-taxonomy-event-category:after,
        &.sf-field-taxonomy-trimester-category:after,
        &.sf-field-taxonomy-program-category:after,
        &.sf-field-taxonomy-course-category:after,
        &.sf-field-post-meta-academic_year:after {
            font: $fontAwesomeRegular;
            content: '\f107';
            color: $bjc_blue;
            font-size: 15px;
            position: absolute;
            z-index: 1;
            top: 20px;
            right: 14px;
        }
        .sf_date_field:after{
            font: $fontAwesomeSolid;
            content: '\f073';
            color: $bjc_blue;
            font-size: 15px;
            position: absolute;
            z-index: 1;
            top: 20px;
            right: 14px;
        }
        label {
            width: 100%;
        }
        input[type="text"] {
            width: 100%;
            padding: 13px 40px 13px 14px;
            font-size: 15px;
            appearance:none;
            border-radius: 3px;
            background: white;

            &:hover,
            &:focus {
                border-color: rgba($neutral,.5);
            }
        }
        select {
            width: 100%;
            padding: 14px 40px 14px 14px;
            font-size: 15px;
            appearance:none;
            border-radius: 3px;
            background: white;

            &:hover,
            &:focus {
                border-color: rgba($neutral,.5);
            }
        }
    }
    li.sf-field-submit {
        max-width: 115px;
        padding: 11px 12px 11px 12px;
        max-height: 50px;
        display: block;
        color:$white;
        background: $bjc_blue;
        border:1px solid $bjc_blue;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        border-radius:3px;
        transform: perspective(1px) translateZ(0);
        overflow: hidden;
        transition: all .5s ease-in-out;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: $white;
            transition: all .5s ease-in-out;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }
        &:hover{
            cursor: pointer;
            color:$bjc_blue;
            input{
                color:$bjc_blue;
            }
            &:before{
                transform: scaleX(1);
            }
        }
        input {
            cursor: pointer;
            background: transparent;
            border:none;
            color:$white;
            font-weight: bold;
        }



    }

}

li.sf-field-reset, .sf-field-reset {
    text-align: center;
    a{
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 13px;
        color: $neutral;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        opacity: .8;
        &:hover{
            color:$bjc_blue;
        }

        &:before {
            font: $fontAwesomeSolid;
            content: '\f00d';
            font-size: 15px;
            position: absolute;
            z-index: 1;
            top: 3px;
            left: -15px;
        }
    }
}

// Reset Filter & Result Count
.reset-filter {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        @include desktop {
            margin-top: 10px;
            flex-direction: row;
            align-items: center;
        }
    }
    .reset-filter {
        color: $neutral;
        opacity: .8;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 1.5px;
        &:hover {
            opacity: 1;
        }
    }
}

.result-count {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    opacity: .8;
    letter-spacing: 0.08em;

    span {
        font-weight: bold;
    }
    @include tablet {
        margin: 0;
    }
}

// Category Tags
.cat-tags {
    a.cat-tag{
        font-size: 11px;
        padding: 4px 10px 4px;
        border-radius: 15px;
        border: 1px solid rgba(#00529B, .16);
        display: inline-block;
        text-decoration: none;
        margin: 0 0 5px 0;
        width: fit-content;
        &:hover {
            background: #EEF7FF99;
            color: $bjc_blue;
        }

        &:focus,
        &:visited {
            color: $bjc_blue;
        }
    }
}


// Pagination
.pagination {
    margin-top: 30px;
    @include tablet {
        margin-top: 50px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .page-numbers {
            border: 1px solid rgba(0, 82, 155, 0.15);
            padding: 6px 0;
            border-radius: 50%;
            text-decoration: none;
            font-size: 15px;
            line-height: 20px;
            transition: all 0.3s ease-in-out;
            height: 35px;
            width: 35px;
            margin: 0 4px;
            text-align: center;

            &.current {
                background: $bjc_blue;
                border-color: $bjc_blue;
                color: $white;
            }

            &.dots {
                border: none;
                padding: 6px 0;
            }

            &.prev {
                padding: 5.5px 12.25px 7.5px 12.25px;
                color: $bjc_blue;
                height: 35px;
                width: 35px;
                margin-right: 14px;
            }

            &.next {
                padding: 6.5px 11.5px 7.5px 12.5px;
                color: $bjc_blue;
                height: 35px;
                width: 35px;
                margin-left: 14px;
            }
        }
        a.page-numbers {
            &:hover {
                background: $bjc_blue;
                border-color: $bjc_blue;
                color: $white;
            }
        }
    }
}
