.hero-area{
    &.landing-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 1;
        padding: 60px 0 40px;
        margin-bottom:125px;
        min-height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        &.background-none{
            background: none;
            .background-image-overlay{
                opacity: 1;

            }
        }
        &.background-royal-blue{
            background: $hero_gradient;
        }
        &.background-teal {
            background: $bachelors_gradient;
        }
        &.background-orange {
            background: $masters_gradient;
        }
        &.background-green {
            background: $doctoral_gradient;
        }
        &.background-purple {
            background: $postmasters_gradient;
        }
        .hero-content{
            max-width: 100%;
            margin:auto;
            @include tablet{
                max-width: 50%;
            }
        }
        .hero-buttons{
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 100%;
            margin:0 auto 45px;
            a{
                &:first-of-type{
                    margin-right:0px;
                    margin-bottom: 10px;
                    @include tablet{
                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                }
            }
            @include tablet{
                flex-direction: row;
                max-width: 50%;
            }
        }
        .video-holder{
            position: relative;
            z-index: 1;
            max-width: 100%;
            margin: 0 auto -110px;
            @include tablet{
                max-width: 65%;
            }
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
            .video-button{
                position: absolute;
                display: block;
                bottom: 40px;
                right: 20px;
            }
        }
        //img Overlay
        .background-image-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 0;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            opacity: .2;
            mix-blend-mode: overlay;
            img{
                object-fit: cover;
                width:100%;
                height:100%;
            }
        }
    }

}
