<div id="counter">
<div class="stat slick-slide">
{# {% if content.field_unit_position == 1 %} #}
{# <h2><span>{{ content.field_stat_unit }}</span></h2> #}
{# {% endif %} #}
<h2>
 <div class="counter-value" data-count="{{ content.field_stat_number.0 }}" data-duration="8000">0</div>
</h2>
{# {% if content.field_unit_position  == 2 %} #}
<h2><span>{{ content.field_stat_unit }}</span></h2>
{# {% endif %} #}
<p>{{ content.field_stat_label }}</p>
</div>
</div>