<div class="full-width-content stat-grid" style="background-image:url({{ file_url(content.field_image['#items'].entity.uri.value) }})">
    <div class="stats slick" id="counter">
        {{ content.field_stat_child_section }}
    </div>
</div>