<div class="flex full-width-content flex_content-cards">
    <div class="container">
        <div class="main-content">
            {% if content.field_hero_headline %}
                <h2 id="our-bjc-values">{{ content.field_hero_headline }}</h2>
            {% endif %}

            <div class="content-cards">
				{{ content.field_content_card_child }}
			</div>
        </div>
    </div><!-- .container -->
</div><!-- .flex_content-cards -->