<div class="section-intro">
    {% if  content.field_title  %}
        <h2 id="">{{ content.field_title }}</h2>
    {% endif %}
</div>
<div class="column-content">
    {% if  content.field_a  %}
        <div class="copy-left"><b>{{ content.field_a }}</b></div>
    {% endif %}
    {% if  content.field_b  %}
     <div class="copy-right"><b>{{ content.field_b }}</b></div>
    {% endif %}
</div>

    